#auth {
	margin-top: 12%;
	margin-bottom: 10%;
	margin-left: 8%;
	overflow: hidden;
	position: fixed;
}

body {
	overflow: scroll;
}

.content {
	overflow: scroll;
	margin: 0;
}

#content {
	margin-left: 20%;
	width: 80%;
}

#filter-songs {
	text-align: center;
	z-index: 2;
	position: fixed;
	height: 100%;
	width: 20%;
	margin: 0;
	top: 0;
	left: 0;
	background-color: #000;
}

#filter-songs ul {
	margin-left: 0;
	left: 0;
	padding-left: 0;
	overflow: auto;
	height: 100%;
}

#filter-songs ul li {
	margin-left: 0;
	left: 0;
	padding-left: 0;
}

#filter-songs ul li button {
	margin: 2%;
	width: 98%;
}

#filter-songs h2 {
	color: white;
}

button {
	background-color: #1db954;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

button:hover {
	background-color: #0da944;
}

footer {
	width: 100%;
}

footer ul {
	list-style-type: none;
	background-color: #000;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0;
}

footer li {
	color: white;
	background-color: #000;
	display: inline;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 1em;
	padding-bottom: 1em;
}

footer li:hover {
	background-color: #222;
}

.btn-dark {
	background-color: #191414;
}

.btn-dark:hover {
	background-color: #0da944;
}

.no-scroll {
	overflow: hidden;
}

.toggle-btn-on {
	background-color: #067a30;
}

.toggle-btn-on:hover {
	background-color: #0da944;
}

.toggle-btn-off {
	background-color: #1db954;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#username {
	margin-left: 4%;
}
