#auth {
	margin-top: 12%;
	margin-bottom: 10%;
	margin-left: 8%;
	overflow: hidden;
	position: fixed;
}

body {
	overflow: scroll;
}

.content {
	overflow: scroll;
}

button {
	background-color: #1db954;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

button:hover {
	background-color: #0da944;
}

.btn-dark {
	background-color: #191414;
}

.btn-dark:hover {
	background-color: #0da944;
}

.no-scroll {
	overflow: hidden;
}

#songslist {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
	height: 100%;
}

.album-box {
	background-color: #0da944;
	color: #fff;
	padding: 20px;
}
